# Array of hosts: 
# hostname; port; keyfile; user; source-directory; file-prefix; destination-directory; bandwidth in kbit/s; maximum-size-of-all-backups-in-GB
host.foobar.com;22;/root/.ssh/id_rsa;root;/private-backup/;backup-;/mylocalhosts/backup/directory/;2400;5
